.table-centered th,
.table-centered td {
  vertical-align: middle;
  text-align: center;

}

.table-centered .actions {
  display: flex;
  justify-content: center;
  border: none;
}

.table-centered .actions .btn {
  margin: 0 5px;
  
}
