.navbar .d-flex {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
}

.navbar .btn {
  margin: 0 10px; 
  text-decoration: none; 
}

/* .navbar .btn:hover {
  background-color: transparent !important; 
  color: inherit !important; 
  border-color: inherit !important; 
  text-decoration: underline; 
  text-decoration-color: white; 
  box-shadow: none; 
} */

/* Override hover for Sign In and Sign Up buttons */
/* .navbar .btn-outline-dark:hover,
.navbar .btn-primary:hover {
  background-color: inherit !important; 
  color: inherit !important; 
  border-color: inherit !important; 
  text-decoration: none !important;
  box-shadow: none !important;
} */

/* .navbar .btn-outline-dark {
  background-color: white;
  color: black;
  border: 1px solid black;
} */

.navbar .btn-primary {
  background-color: blue;
  color: white;
}

.navbar .btn-danger {
  background-color: red;
  color: white;
}

.navbar-nav .nav-link {
  color: white !important; 
  text-decoration: none !important; 
  background-color: transparent !important; 
  transition: none !important; 
}

/* .navbar-nav .nav-link:hover {
  color: white !important; 
  background-color: transparent !important; 
  text-decoration: none !important; 
} */
