/* .row_table{
    height: 100px;
    color: blue;
}
.table{
    border-radius: 20%;
    color: green;
} */

.abc{
    background-color: green;
}
thead{
background-color: whitesmoke;
}
table{
    border-radius: 20%;
}