/* .row_table{
    height: 100px;
    color: blue;
}
.table{
    border-radius: 20%;
    color: green;
} */
 body{
    font-family:monospace;
    line-height: 1.2;
 }
 /* Add this to your CSS file */
.navbar-blur {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensure the navbar is above other elements */
    backdrop-filter: blur(100px); /* Adjust the value to control the amount of blur */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Semi-transparent background color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  }
  

.abc{
    background-color: green;
}
thead{
background-color: whitesmoke;
}
table{
    border-radius: 20%;
}
.chart-container{
      /* background-color: black; */
      border-style: solid;
      border-color: rgb(79, 82, 79);
      transition: ease-out;
      /* transform: scale(1.02); */
      border-width: 3.8px;
      /* position: relative; */
       background-color: whitesmoke;
    }