.table-centered th,
.table-centered td {
  vertical-align: middle;
  text-align: center;
  background-color:whitesmoke ;

}

.table-centered .actions {
  display: flex;
  justify-content: center;
  border: none;
  background-color:whitesmoke ;
}

.table-centered .actions .btn {
  margin: 0 5px;
  
}
